
  
 
  .searchBar {
   
    align-items: center;

    width: 100%;
    max-width: 500px;
    margin: 10px;

    position: relative;
  }
  
  /* Input field */
  .search {
   
    padding: 12px 20px;
    padding-right: 50px; /* Space for the search icon */
    font-size: 16px;
    outline: none;
    background-color: #ffffff;
    color:#000000;
    width:220px;
    height: 40px;
    border-radius: 16px;
    /* border: 0.4px solid black; */
    transition: all ease-in-out .5s;
    box-shadow: 0 0 1em #00000013;
  
  }
  .search:hover, .search:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  
  
  /* Search icon */
  .searchIcon {
    /* position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff; */
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 31%;
    transition: color 0.3s ease;
    height: 1.3em;
    width: 1.3em;
    color: #b4b4b4;
  }
  .search:focus {
    outline: none;
    background-color: #ffffff;
  }
  .searchIcon:hover {
    color: #030303;
  }
  
  /* Animation for placeholder text */
  @keyframes placeholderCycle {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
  }
  
  .search::placeholder {
    animation: placeholderCycle 3s infinite;
  }